.col1, .col2, .col3, .cols { float:left}
.cols{ width:290px}
.col1{ width:600px}
.col2{ width:270px}
.col_1{ width:232px;float:left;line-height:30px;font-size:14px}
.col_2{ width:107px;float:left}
.col_3{ width:179px;float:left}
.col_4{ width:263px;float:left}
.col_address{ width:75px;float:left}

#page1{ background:url('../../img/blueprint/bg_top1.jpg') top repeat-x #fff}
#page1 header{ height:641px}
#page1 .body1{ background:url('../../img/blueprint/bg_top_img1.jpg') top center no-repeat}
#page1 #slogan{ background:url('../../img/blueprint/line_top1.gif') 0 0 no-repeat}
#page2 .cols{ width:243px}
#page5 .cols{ width:243px}
