<!DOCTYPE html>
<html lang="en">
<head>  
	<meta charset="UTF-8">
	<title>Advaita | Confirmation</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript">
  function formSubmit() {
  //alert(1);
  
  pwd = document.getElementById('pwd').value;
  conf = document.getElementById('conf').value;
  if(pwd == conf && pwd.length >= 6) {
    var user = window.location.pathname.split( '/' );
    
    console.log(user);
    $.ajax({
        url: '/user/verifyuser/callback/bm90WW91ck1vdGhlcnNIVE1M/'+user[5]+'/aUxvdmVOb2Rl',
        type: 'PUT',
        data: {password: pwd},
        success: function(data) {
          alert('Request Processed successfully. You can close this window!');
        }
      });
  }
  else {
    alert("Passwords are not matching !");
  }
}
</script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <style>
  body{padding-top:20px;}
    #container{
      width: 30%;
      padding: 20px;
      display: block;
      margin: auto;
      margin-top: 150px;
    }
  </style>
</head>
<body>
	<div class="container">
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please provide password</h3>
        </div>
          <div class="panel-body">
            <div >
                    <fieldset>
              <div class="form-group">
                <input class="form-control" id="pwd" placeholder="Password" name="password" type="password" value="">
              </div>
                <div class="form-group">
                  <input class="form-control" id="conf" placeholder="Confirm Password" name="confirm" type="password">
              </div>
              <button class="btn btn-lg btn-success btn-block" onclick="formSubmit()">Done</button>
            </fieldset>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>